*{
	/*border: 1px solid green;*/
	font-family: Helvetica, sans-serif;
}
/*Main Wrapper*/
#container{
	width: 1200px;
	margin: 0 auto;
}

/*sub wrappers*/
.wrapper{
	text-align: center;
}

.wrapper header h1 {
	font-weight: bold;
	font-size: 20px;
}

/*Rules to apply to any paragraph text*/
.info-text {
	font-weight: normal;
	font-size: 16px;
    line-height: 25px; 
 }

/*Style rule navigation component hover action*/
nav ul li:hover{
	background-color:#5D6D7E;
}

/* Style rules for Header section*/
#header{
	background-image: url(assets/images/header-bg@2x.png);
	color: white;
	padding: 50px;
	padding-top:15px;
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

#header .sub_content{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
#header .sub_content  h1{
	 
	 font-weight: bold;
	 font-size: 50px;
}
#header img {
	width: 100%;
	padding-top:10%;
}
#header nav {
	margin-bottom: 40px;
}
#header nav ul {
	list-style: none;
}

#header nav li {
	display: inline-block;
	margin: 0 10px;
}
#header nav li a {
	text-decoration: none;
	color: white;	
}

#header nav li:first-child{
	margin-right: 60%;	
	font-weight: bold;
	font-size:27px;
}

#header button {
	margin-right: 20px;
	width: 100px;
	height: 35px;
	border-radius: 10px;
}
#header button:first-child {
	background-color: #D84B4B;
}

#header button:last-child{
	background-color: #6A8BD6;
}

/*Style rules for selling point section*/
#selling_pts{
	  border-bottom: 1px dotted black;
	  margin-bottom: 100px;	  
} 

.selling_pt{
	width:20%;
	display: inline-block;
	vertical-align: top;	
    padding:6%;
    height: 200px;

}
.selling_pt img {
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 50px;
}

/*Style rules to apply pricing section*/
#pricing{
	margin-bottom: 100px;
}
.sm_price{
	width:17%;
	display: inline-block;
	vertical-align: top;	
    margin:3.3%;
    margin-top: 0;
    margin-bottom: 0;
    border: 0.1em solid #95989A;
}
   


.sm_price ul,
.sm_price span.amount, 
.sm_price button
{
	display: block;
	margin: 0 auto;
	margin-bottom:10px;
	list-style: none;
	padding:0;
}

.sm_price ul li {
	padding:10px;
	font-family: "Helvetica Neva"; 
}

.sm_price button{
	width: 85px;
	height: 35px;
	border-radius: 10px;
	background-color: #D84B4B;
}
.sm_price h1{	
	padding:20px;	
	margin: 0;
	background-color: #F7F7F7; 
	font-family: "Helvetica Neva"; 
}
.sm_price:hover h1{
	background-color: #6A8BD6;
	color:white;
}

.sm_price:hover {
	box-shadow: 0 0 10px 5px #AFABA6;
}


.sm_price span.amount {

	font-weight: bold;
	font-family: Helvetica;
	font-size: 40px;
}


/*Style rules to apply to contact us section*/
#contact_us article, #contact_us form{
	width: 35%;
	display: inline-block;
	vertical-align: top;
	text-align: left; 
}

#contact_us form{
	padding:20px;
	background-color: #FAFAFA;
	width: 20%;
	border: 1px solid #95989A;
}

#contact_us form input{
   margin: 10px;
   display: block;
   width: 70%;
}
#contact_us form [type="textarea"]
{
  height:100px;
}

#contact_us form [type="button"]{
	background-color: #6A8BD6;
	height: 60px;
}

#contact_us article{	 
    margin-right: 100px;
}

/*Style rules to apply to footer section*/
footer{
	margin-top: 20px;
}

footer{
	background-color: #D84B4B;
	padding: 25px;
}

footer nav ul {
	list-style: none;
}
footer nav li {
	display:inline-block;
	margin: 0 15px;
}
footer nav li a {
	text-decoration: none;
	color:white;
}

footer nav li:first-child{
	margin-right: 20%;	
	font-weight: bold;
	color: white;
	font-size:20px;
}

footer nav li img {
	width: 50px;
}

footer nav li:nth-last-child(2){
	margin-left: 20%;
}

